:root {
    --bg: #fff;
    --info-bg: #e7e7e7;
    --text: #21262d;
    --marker: #FF70B3;
    --accent: #68FF9E;
}


@font-face {
    font-family: "GT Pressura Mono";
    src:
        url("https://r00ts.xyz/fonts/GT-Pressura/GT-Pressura-Mono-Bold.woff2") format("woff2"),
        url("https://r00ts.xyz/fonts/GT-Pressura/GT-Pressura-Mono-Bold.woff") format("woff"),
        url("https://r00ts.xyz/fonts/GT-Pressura/GT-Pressura-Mono-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "GT Pressura Mono";
    src:
        url("https://r00ts.xyz/fonts/GT-Pressura/GT-Pressura-Mono-Light.woff2") format("woff2"),
        url("https://r00ts.xyz/fonts/GT-Pressura/GT-Pressura-Mono-Light.woff") format("woff"),
        url("https://r00ts.xyz/fonts/GT-Pressura/GT-Pressura-Mono-Light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "GT Pressura Mono";
    src:
        url("https://r00ts.xyz/fonts/GT-Pressura/GT-Pressura-Mono-Regular.woff2") format("woff2"),
        url("https://r00ts.xyz/fonts/GT-Pressura/GT-Pressura-Mono-Regular.woff") format("woff"),
        url("https://r00ts.xyz/fonts/GT-Pressura/GT-Pressura-Mono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 800px;
    height: 600px;
}

body {
    width: 800px;
    height: 600px;
    max-width: 800px;
    min-height: 300px;
    background: var(--bg);
    color: var(--text);
    font-size: 13px;
    display: flex;
    flex-direction: column;
    font-family: 'GT Pressura Mono', monospace;
    font-variant-numeric: slashed-zero;
    user-select: none;
}

a {
    color: blue;
}

a:visited {
    color: blue;
}

#contents {
    padding: 1em;
    width: 100%;
    flex-grow: 2;
}

/* Header */
h1 {
    font-size: 32pt;
    font-weight: normal;
    position: absolute;
    left: 0.1em;
    top: -0.5em;
    z-index: 8;
}

h2 {
    font-weight: normal;
}

/* Buttons */
button {
    cursor: pointer;
    padding: 0.5em;
    margin: 0.5em 0;
    border: none;
    font-family: inherit;
}

#details-btn {
    display: block;
    background: var(--marker);
    font-size: 14pt;
    padding: 0.5em;
    color: var(--text);
}

#details-btn:hover {
    background: var(--accent);
}

#fit-btn {
    position: absolute;
    top: 1em;
    right: 1em;
    background: var(--info-bg);
    z-index: 10;
}

/* Map */
#map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#map-container .fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#map-buildings {
    z-index: 1;
}

.marker-root {
    position: relative;
    pointer-events: all;
    font-family: "GT Pressura Mono", monospace;
}

.marker {
    max-height: 350px;
    max-width: 350px;
    background: var(--marker);
    padding: 0.8em;
    transition-property: max-width, max-height, min-width !important;
    transition-duration: 1s !important;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.marker-small {
    max-width: 100px;
    max-height: 100px;
}

.map-overlay {
    pointer-events: none;
}

.datacenter-marker {
    z-index: 2;
    pointer-events: all;
}

.datacenter-marker:has(.front) {
    z-index: 10;
}

.aerial {
    width: 100%;
}

.aerial img {
    width: 100%;
}

.datacenter-title {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    background: var(--marker);
    padding: 0.8em;
    padding-bottom: 0;
    text-align: right;
    font-weight: normal;
}

#ip-info,
#stats,
#cta {
    position: absolute;
    z-index: 10;
}

#ip-info {
    top: 2em;
    left: 1em;
    display: none;
    background: none;
    font-size: 16pt;
    pointer-events: none;
}

#hint-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2em;
    max-width: 20em;
    z-index: 10;
}

#stats {
    bottom: 1em;
    right: 1em;
}

#cta {
    display: none;
    bottom: 2em;
    left: 2em;
    padding: 0.5em;
    box-sizing: border-box;
}

.transparent-white {
    padding: 0.5em;
    background: rgba(255, 255, 255, 0.8);
}

#hostname {
    font-style: italic;
}

#hostname::before {
    content: "< ";
}

#hostname::after {
    content: " >";
}

/* Column headers */
td {
    box-sizing: border-box;
    padding: 0 4px;
}

#ip-table-container {
    overflow: hidden;
}

.entry-ip,
.ip-table-closed {
    width: 250px;
}

#expand-ip-table {
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 100%;
}

.entry {
    cursor: default;
    padding: 0, 1em;
}

.entry-ip {
    font-size: 20pt;
    color: var(--text);
    white-space-collapse: preserve-spaces;
    display: block;
}

.entry-ip.ipv6 {
    font-size: 10px;
    font-style: italic;
}

.entry-host {
    font-size: 10px;
    color: var(--text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entry-time,
.entry-count {
    font-size: 11px;
    text-align: right;
    width: 100%;
}

#attribution-btn {
    position: absolute;
    top: 0;
    left: 0;
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: var(--marker);
    width: 3em;
    height: 3em;
    margin: 0;
}

#attribution-btn:hover {
    background: var(--accent);
}

#attribution {
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding-left: 3.4em;
    background: white;
    font-size: 8pt;
    max-width: 3em;
    height: 3em;
    transition: max-width 1s;
    overflow: hidden;
    z-index: 10;
}

.attribution-open {
    max-width: 100% !important;
}

#attribution span {
    padding: 1em;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 8pt;
}

/* Custom checkbox */
.custom-check {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 2em;
    background: rgba(255, 255, 255, 0.8);
    width: fit-content;
    height: 1.2em;
}

.custom-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -0.1em;
    left: 0;
    height: 1.4em;
    width: 1.4em;
    background-color: #eee;
}

.custom-check:hover input~.checkmark {
    background-color: var(--accent);
}

.custom-check input:checked~.checkmark {
    background-color: var(--marker);
}

.custom-check:hover input:checked~.checkmark {
    background-color: var(--accent);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-check input:checked~.checkmark:after {
    display: block;
}

.custom-check .checkmark:after {
    left: 0.53em;
    top: 0.2em;
    width: 0.3em;
    height: 0.6em;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
